<div id="main-1">
  <section id="top-row">
    <div class="break-2 break ratio-1 animated fadeInLeft">
      <div class="break-wrapper">
        <div>Le burn-out est il un trouble psychique ?</div>
      </div>
    </div>
  </section>
  <section id="bottom-row">
    <div class="question ratio-1 animated fadeInUp" id="white">
      <p>
        Le burn-out n’est pas un trouble psychique en lui-même : c’est le résultat d’un stress
        professionnel chronique.

        Prêter attention au bien-être des collaborateurs permet d’améliorer le quotidien des
        salariés concernés par le handicap psychique mais aussi de prévenir, pour tous,
        l’apparition de phénomènes comme le burn-out.
      </p>
    </div>
  </section>
  <section id="navigation" class="animated fadeInRight">
    <app-navigation></app-navigation>
  </section>
</div>
