<div id="main-1">
  <section id="top-row-intro">
    <div id="title-top-row-intro" class="animated fadeInLeft">
      Questions de santé...
    </div>
  </section>
  <section id="bottom-row-intro">
    <div id="title-bottom-row-intro">
      <span>MENTALE</span>
      <a routerLink="/question-1"><img class="chevron animated flash infinite" src="assets/img/np_chevron-right_730228_000000.svg"></a>
    </div>
    <div id="block-1" class="blue-bg block animated bounceInUp">

    </div>
    <div id="block-2" class="red-bg block animated bounceInUp">

    </div>
    <div id="block-3" class="green-bg block animated bounceInUp">

    </div>
    <div id="block-4" class="yellow-bg block animated bounceInUp">

    </div>
  </section>
</div>
