<div id="main-1">
  <section id="top-row">
    <div class="break-1 break ratio-1 animated fadeInLeft">
      <div class="break-wrapper">
        <div class="depression" data-text="Dépression">
          Dépression
        </div>
        <div class="schizophrenie" data-text="Schizophrénie">
          Schizophrénie
        </div>
        <div class="addiction" data-text="Addiction">
          Addiction
        </div>
        <div class="phobie" data-text="Phobie">
          Phobie
        </div>
        <div class="toc" data-text="TOC">
          TOC
        </div>
        <div class="alimentaire" data-text="Trouble alimentaire">
          Trouble alimentaire
        </div>
        <div class="bip" data-text="Bipolarité…">
          Bipolarité…
        </div>
      </div>
    </div>
  </section>
  <section id="bottom-row">
    <div class="question ratio-1 animated fadeInUp" id="white">
      <p>Un trouble psychique, c’est un trouble du comportement ou de l’adaptation sociale.
        On parle de handicap psychique dès lors qu’il a un impact sur la vie quotidienne.</p>
    </div>
  </section>
  <section id="navigation" class="animated fadeInRight">
    <app-navigation></app-navigation>
  </section>
</div>
